{% extends 'layout.html' %}

{% block content %}

<script>
	alert("준비중입니다.");
	location.href="/";
</script>
	<form class="form-horizontal" method="post" action="/Contact" style="display: none;">
		<fieldset>
			<!-- Form Name -->
			<legend>Write Your Post</legend>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-12" for="txtTitle">Name</label>
				<div class="col-md-12">
					<input id="txtTitle" name="name" type="text" placeholder="이름을 입력하세요." class="form-control input-md", autofocus required><!--required : 공백입력시 경고-->
				</div>
			</div>
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-12" for="txtTitle">Title</label>
				<div class="col-md-12">
					<input id="txtTitle" name="title" type="text" placeholder="제목을 입력하세요." class="form-control input-md", autofocus required><!--required : 공백입력시 경고-->
				</div>
			</div>
			<!-- Textarea -->
			<div class="form-group">
				<label class="col-md-12" for="txtPost">Contents</label>
				<div class="col-md-12">
					<textarea class="form-control" id="txtPost" name="content" placeholder="내용을 입력하세요." style="height:260px;" required></textarea>
				</div>
			</div>
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-12 control-label" for="singlebutton"></label>
				<div class="col-md-12">
					<input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="작성하기">
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}