<!DOCTYPE html>
<html>
    <head>
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		
		<!-- js -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
         123
    </body>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-09JZSKV7PG"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-09JZSKV7PG');
	</script>
</html>