<!DOCTYPE html>
<html>
    <head>
		<!-- css -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
		
		<!-- js -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
         <div class="wrap">
			<div class="nav">
				<ul>
					<li><a href="#" class="active">소개</a></li>
					<li><a href="#">기술 스택</a></li>
					<li><a href="#">프로젝트 경험</a></li>
					<li><a href="#">교육 및 자격증</a></li>
					<li><a href="#">연락처</a></li>
				</ul>
			</div>		 
		 </div>
    </body>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-09JZSKV7PG"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-09JZSKV7PG');
	</script>
</html>