{% extends 'layout.html' %}

{% block content %}

<div class="intro">
	<h1>웹 개발자 <span class="double_underline">이재호</span></h1>
	<div class="story">
		<p>대학교 4학년 1학기를 마치고 조기취업을 하게 되어 <span class="double_underline bold">바이널아이</span>로 첫 취업을 하였습니다.</p>
		<p>바이널아이에서 웹에이전시 업무를 담당하였으며 <span class="bold">현대자동차 모터스튜디오 운영개발(Java)</span>,</p>
		<p><span class="bold">메리츠 화재 메리돌(ASP.NET)</span> 이라는 프로젝트를 신규 구축 및 운영개발을 맡고</p>
		<p>다양한 기타 <span class="bold">웹에이전시 프로모션 및 이벤트 페이지(Classic ASP)</span> 개발을 하며 3년이라는 시간을 보내다가 나도 <span class="bold">클라이언트</span>가 될꺼야! 하고 이직을 준비합니다.</p>
		<p></p>
		<p></p>
		<p>이후 <span class="double_underline bold">아이스크림미디어</span>라는 교육회사로 목표를 가졌던 클라이언트가 되는 첫번째 이직을 하게 됩니다.</p>
		<p>주요 업무로는 <span class="bold">아이스크림 교육 플랫폼(Classic ASP)</span> 운영개발과 <span class="bold">Classic ASP -> Java Migration</span>을 성공적으로 작업을 하였습니다.</p>
		<p>이 외에도 <span class="bold">스마트클래스 API(Java)</span> 개발을 맡고, <span class="bold">배너 관리 시스템(Java)</span>도 개발한 경험이 있습니다.</p>
		<p></p>
		<p></p>
		<p>그때는 무슨 생각인지.. 더 큰 회사로 가고 싶은 욕심이 생겨 퇴사를 하게 됩니다.</p>
		<p>다음 회사로는 <span class="double_underline bold">네오위즈</span>라는 게임회사로 두번째 이직을 하게 됩니다.</p>
		<p><span class="bold">천상비(Classic ASP), 크로노스 국내/글로벌(Classic ASP)</span> 홈페이지 개발 및 설계, 보수를 하게 되었고,</p>
		<p>큰 업무로는 <span class="bold">천상비 피망 채널링 입점 개발(Classic ASP), 이벤트 페이지 및 CRM/운영툴 개발(ASP.NET&Classic ASP)</span> 업무를 맡아 개발을 하게 되었습니다.</p>
		<p>잘 다니던 회사를 그만두고 웨딩 모바일 청첩장 사업을 시작하게 됩니다..</p>
		<p></p>
		<p></p>
		<p><span class="bold">(Python)</span>을 이용해 모바일 청첩장을 개발하여 스마트스토어에 판매를 하는데 매출이 많이 나지 않아 그만 두고 이직을 합니다.</p>
		<p></p>
		<p></p>
		<p>현재는 <span class="double_underline bold">바른컴퍼니</span>라는 청첩장/모바일청첩장 회사를 다니고 있으며 <span class="bold">바른손카드/바른손몰/프리미어페이퍼(Classic ASP),디얼디어(Php), 통합어드민(ASP.NET)</span></p>
		<p>온라인커머스 개발을 하고 있습니다.</p>
	</div>
</div>

{% endblock %}