{% extends 'layout.html' %}

{% block content %}

<div class="project">
	<h1>프로젝트</h1>
	<div>
		<ul>
			<li>
				<div class="group">
					<p>바른컴퍼니 (2023-03-20 ~ 2025-02-19)</p>
					<ul>
						<li>- 바른손카드/바른손몰/프리미어페이퍼 온라인커머스 개발</li>
						<li>- 디얼디어 온라인커머스 개발</li>
						<li>- 통합 어드민 개발</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="group">
					<p>네오위즈 (2017-07-17 ~ 2022-02-01)</p>
					<ul>
						<li>- 천상비, 크로노스 국내/글로벌 홈페이지 개발 및 설계, 보수</li>
						<li>- 피망 채널링 입점 서비스 개발</li>
						<li>- 이벤트 페이지 및 CRM/운영툴 개발</li>
						<li>- IDC -> AWS 서버 마이그레이션</li>
						<li>- 회원 정보 고도화 작업 (개인정보 암호화 작업)</li>
						<li>- 웹 GA 로그 분석 도입</li>
						<li>- 라바 인 퍼즐 운영툴 개발</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="group">
					<p>아이스크림미디어 (2015-10-06 ~ 2017-02-01)</p>
					<ul>
						<li>- 아이스크림S (Classic ASP-JAVA Migration 개발)</li>
						<li>- 전남교육청 유지보수</li>
						<li>- 스마트클래스 API개발</li>
						<li>- C# ShortCut 응용프로그램개발</li>
						<li>- 배너 관리 시스템 개발</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="group">
					<p>바이널아이 (2012-07-09 ~ 2015-07-22)</p>
					<ul>
						<li>- 현대자동차 모터스튜디오 (사이트 운영개발 및 유지보수)</li>
						<li>- 메리츠 화재 메리돌 (신규 구축 및 유지보수)</li>
						<li>- 바이널 아이 (신규 구축 및 유지보수)</li>
						<li>- 기타 웹에이전시 업무 웹 개발</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>


</div>

{% endblock %}