{% extends 'layout.html' %}

{% block content %}
<div class="project">
	<h1>기술</h1>
	<div>
		<ul>
			<li>
				<div class="group">
					<p>BackEnd</p>
					<ul>
						<li>- Classic ASP</li>
						<li>- ASP.NET(C#)</li>
						<li>- Java</li>
						<li>- Python</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="group">
					<p>FrontEnd</p>
					<ul>
						<li>- javascript</li>
						<li>- jQuery</li>
						<li>- html</li>
						<li>- css</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="group">
					<p>DB</p>
					<ul>
						<li>- MS-SQL, Stored Procedure</li>
						<li>- My-SQL, Function</li>
						<li>- Tibero</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="group">
					<p>CoWork</p>
					<ul>
						<li>- SVN</li>
						<li>- Git</li>
						<li>- Redmine</li>
						<li>- Jira</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>


</div>
{% endblock %}